.logo {
    margin-top: 10px;
    margin-left: 330px;
    width: 160px;
    height: 23px;
}
.txt_logo {
    width: 23px;
    height: 23px;
}

.login_txt{
    border-radius: 1.8rem;
    margin: 0px;
    appearance: none;
    background: rgb(8, 204, 202);
    border: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 70px;
    height: 30px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    display: inline-flex;
}

.color_s{
    color: rgb(170, 170, 170);
}

.join_txt{
    border-radius: 1.8rem;
    margin: 0px;
    appearance: none;
    background: rgb(255, 255, 255);
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 70px;
    height: 30px;
    font-size: 12px;
    color: rgb(8, 204, 202);
    border: 1px solid currentColor;
    display: inline-flex;
}

.right {
    margin-top: 10px;
    float: right;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 290px;
}

.right_login {
    float: right;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 30px;
}

a{
    text-decoration: none;
    color: rgb(163, 163, 163);
    text-align: center;
}

.story_b{
    padding-top: 6rem;
    padding-bottom: 8rem;
    border-bottom: 0.2rem solid rgb(228, 230, 234);
}

.stroy_row{
    display: flex;
}

.left-stroy{
    width: 46%;
    margin-right: 10rem;
}

.left-stroy img{
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    margin-left: 20rem;
    object-fit: contain;
}

.stroy-b{
    padding: 0px;
    display: flex;
    min-width: 0px;
    float: right;
}

.single_b{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.single_cut{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.s-b-c{
    width: 0.9rem;
    margin-right: 0.3rem;
    margin-top: -75rem;
}

.single_p{
    padding: 0px;
    margin: 0px;
    margin-right: 55rem;
    margin-top: -75rem;
    font-size: 0.7rem;
    line-height: 150%;
    font-weight: 500;
    white-space: nowrap;
}

.st_b{
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 1.9rem;
    color: rgb(32, 36, 41);
    margin-top: -38rem;
}

