.logo {
    margin-top: 10px;
    margin-left: 50px;
    width: 160px;
    height: 23px;
}
.txt_logo {
    width: 23px;
    height: 23px;
}

.right {
    margin-top: 10px;
    float: right;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 20px;
}

.right_login {
    float: right;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 30px;
}


a{
    text-decoration: none;
    color: rgb(163, 163, 163);
    text-align: center;
}

/* .box{
    margin-right: auto;
} */

.top-bar {
    display: flex;
    justify-items: center;
}



.merch{
    margin-right: 20px;
}
.dvd{
    margin-right: 20px;
}
.tour-merch{
    margin-right: 20px;
}
.collab{
    margin-right: 20px;
}
.hybe-insight{
    margin-right: 20px;
}
.album{
    margin-right: 20px;
}
.weverse{
    margin-right: 20px;
}
.membership{
    margin-right: 20px;
}
.book{
    margin-right: 20px;
}
.favorites{
    margin-right: 20px;
}
.deco{
    margin-right: 20px;
}
.season-greetings{
    margin-right: 20px;
}
.pick-up{
    margin-left: 20px;
}
